


#profile-body {
  height: 100vh;
  width: 100vw;
  background-color: none;
  background-image: url('../assets/gt40.jpeg');
  background-size: cover;
  background-position: center;
  --dark: #020202;
}

#profile-section {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  vertical-align: middle;
}

#profile-con {
  height: 70vh;
  width: 90vw;
  margin: auto;
  position: relative;
  z-index: 0;
  background-color: var(--dark);
  opacity: .8;
  box-sizing: border-box;
  color: silver;
  min-height: 500px;
}

#profile-info {
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

#profile-header {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  width: 100%;
  border: 1px silver solid;
}

#user {
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 100%;
  display: flex;
  color: silver;
  text-align: center;
}

#username {
  height: 20px;
  width: 100px;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#user-email {
  height: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

#user-email h1 {
  margin: 10px;
}

#user img {
  height: 100px;
  background-color: #ff2800;
  width: auto;
  position: absolute;
  right: 0;
  float: right;
}


#profile-footer {
  display: flex;
  height: 75px;
  bottom: 0;
  position: absolute;
  flex-direction: column;
  text-align: center;
}
