@media only screen and (min-width: 950px) {
body {
  background-color: none;
}
#profile-section {
  height: 100%;
  width: 100%;
  background-color: white;
  /* background-color: #020202; */
  position: absolute;
}

#profile-con {
  height: 100%;
  width: 100%;
  margin: auto;
  /* background-color: black; */
  position: relative;
  padding-top: 200px;
  z-index: 0;
  color: silver;
}

#profile-info {
  height: 400px;
  width: 100%;
  border: 1px solid silver
}

#profile-header {
  height: 75px;
  width: 100%;
  /* border-style: double; */
  border-bottom: 1px silver solid;
}

#username {
  height: 100%;
  width: 200px;
  display: flex;
  color: silver;
}

#username h1 {
  margin: auto;
}
}
