#view {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#view-con {
  margin: 300px
}

.part {
  margin: auto;
  color: white;
  height: 25px;
  width: 200px;
  display: flex;
  position: relative;
  align-content: center;
}
