#view {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#view-con {
  width: 450px;
  margin: 200px;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#part-img {
  width: 250px;
  margin: auto;
}

.part {
  margin: auto;
  color: silver;
  flex: 4;
  display: flex;
  position: relative;
  align-content: center;
}
