<title>Build your dream...</title>

<main>
  <div id="cart-side" class="cart-side">
    <div class="cartlist"></div>
    <div class="total">
      <button class="viewcart"></button>
    </div>
  </div>
  <div id="sidebar" class="sidebar">
    <div class="menuitem">
      <h1>About</h1>
    </div>
    <div class="menuitem">
      <h1>Products</h1>
    </div>
    <div class="menuitem">
      <h1>Life</h1>
    </div>
    <div class="menuitem">
      <h1>Login</h1>
    </div>
    <div class="menuitem" style="border-bottom: none">
      <h1>Cart</h1>
    </div>
  </div>
  <div id="hero"class="section">

    <h1>BUILD YOUR DREAM</h1>
    <h2 id="start-building">START BUILDING</h2>
    <h2 id="cheveron" ng-click="build()"><i class="fa fa-chevron-down" aria-hidden="true"></i></h2>
  </div>

  <div id="section2" class="section">
    <div class="sec-2-box sec-2-left">
      <div id="sec-2-left-con">
        <h1>NEW PRODUCTS</h1>
        <h2>SHOP FOR PARTS</h2>
      </div>
    </div>
    <div class="sec-2-box sec-2-right">
      <h1></h1>
    </div>
  </div>

  <div id="section3" class="section">

    <div class="section-3-box parts parts-a"></div>
    <div class="section-3-box parts parts-b"></div>
    <div class="section-3-box parts parts-c"></div>

  </div>

  <div id="section4" class="section">
    <div id="main-prod" class="multiple-items slick" data-slick='{"slidesToShow": 3}'>
      <ul class="item sale">
        <img src="../assets/exploded-turbo.png">
        <h1>Turbo-A</h1>
        <h1>$1</h1>
        <h1 class="details">View Details</h1>
      </ul>
      <ul class="item sale">
        <img src="../assets/exploded-turbo.png">
        <h1>Turbo-B</h1>
        <h1>$1</h1>
        <h1 class="details">View Details</h1>
      </ul>
      <ul class="item sale">
        <img src="../assets/exploded-turbo.png">
        <h1>Turbo-C</h1>
        <h1>$1</h1>
        <h1 class="details">View Details</h1>
      </ul>
      <ul class="item sale">
        <img src="../assets/exploded-turbo.png">
        <h1>Turbo-D</h1>
        <h1>$1</h1>
        <h1 class="details">View Details</h1>
      </ul>
      <ul class="item sale">
        <img src="../assets/exploded-turbo.png">
        <h1>Turbo-E</h1>
        <h1>$1</h1>
        <h1 class="details">View Details</h1>
      </ul>
    </div>
  </div>

  <div id="aboutsec" class="section">
    <div class="porsche">
      <div class="aboutuscon">
        <div class="aboutus">
          <h1>ABOUT US</h1>
          <p>
          This is a portfolio site, it is made<br>
          for the purpose of displaying the<br>
          makers abilities using code. It <br>
          uses a Wix template as refrerence <br>
          but is built buy the maker</p>
        </div>
      </div>
    </div>
  </div>

  <div id="section6" class="section">
    <div id="sec-6-box1" class="sec-6-box">
      <input id="name" class="name input" type="text" ng-model="name" placeholder="Name"></input>
      <input id="email" class="email input" type="text" ng-model="email" placeholder="Email"></input>
      <input id="subject" class="subject input" type="text" ng-model="subject" placeholder="Subject"></input>
      <input id="message" class="message input" type="text" ng-model="message" placeholder="Message"></input>
      <button id="send" class="send">SEND</button>
    </div>
    <div id="sec-6-box2" class="sec-6-box">
      <h1>CONTACT</h1>
        <p>
           This is will be a paragraph asking for feedback or any questions
           a visitor may have, also I’m a great place for you to tell a story
           and let your users know a little more about you. But you may leave
           feedback for the creator of this portfolio site.
        </p>
      <h2>sbrycebarker@gmail.com</h2>
      <h2>801-358-3800</h2>
    </div>
  </div>

  <div id="section7" class="section">
    <div class="sec-7-con">
      <h1>JOIN OUR MAILING LIST</h1>
      <h2>AND NEVER MISS AN UPDATE</h2>
      <input class="listinput field" placeholder="Email Address" style="color: white; padding-left: 15px"></input>
      <button class="listbutton field">SUSCRIBE NOW</button>
    </div>
  </div>

  <footer>
    <h1>@ 2018 by SERGIO BARKER</h1> <h1>FAQ</h1> <h1>Shipping & Returns</h1> <h1>Terms & Conditions</h1>
  </footer>

</main>
