<title>Build your dream...</title>

<main id="main">
  <div id="sidebar" class="sidebar">
    <div class="menuitem mp">
      <img>
      <a ui-sref="products">
        <h1>PRODUCTS</h1>
      </a>
    </div>
    <div class="menuitem ma">
      <a ui-sref="home">
        <h1>ABOUT</h1>
      </a>
    </div>
    <div class="menuitem ml">
      <a ui-sref="profile({user: user.displayName})">
        <h1>PROFILE</h1>
      </a>
    </div>
    <div class="menuitem mlg">
      <h1><a href="/auth"><button type="submit" class="button-primary log">{{username}}</button></a></h1>
      <h1><a href="/auth/logout"><button type="submit" class="button-primary log">Logout</button></a></h1>
    </div>
    <div class="menuitem mc" ng-click="cartOpen()" style="border-bottom: none">
      <h1>Cart</h1>
    </div>
  </div>
  <div id="hero" class="section">

    <h1 id="build" class="animated fadeInLeft hero">BUILD YOUR DREAM</h1>
    <h2 id="start-building" class="animated fadeInDown hero">START BUILDING</h2>
    <h2 id="cheveron" ng-click="build()" class="animated fadeInDown hero"><i class="fa fa-chevron-down" aria-hidden="true"></i></h2>
  </div>

  <div id="section2" class="section">
    <div class="sec-2-box sec-2-left">
      <div id="sec-2-left-con" ui-sref="products">
        <h1>NEW PRODUCTS</h1>
        <h2>SHOP FOR PARTS</h2>
      </div>
    </div>
    <div class="sec-2-box sec-2-right">
      <h1></h1>
    </div>
  </div>

  <div id="section3" class="section">

    <div class="section-3-box parts parts-a"></div>
    <div class="section-3-box parts parts-b"></div>
    <div class="section-3-box parts parts-c"></div>

  </div>

  <div id="section4" class="section">
      <h1 id="title-4">On Sale Now!</h1>
    <div id="main-prod">
      <ul class="item sale draw" ng-model="turbo1" ng-click="buy(turbo1)" ui-sref="view({part: '5ae7b1fff36d282906c489c2'})">
        <img src="../assets/exploded-turbo.png">
        <h1>Street Turbo lvl 1</h1>
        <h1>$300</h1>
        <div class="details">
          <h1>View Details</h1>
        </div>
      </ul>
      <ul class="item sale draw" ng-model="turbo2" ui-sref="view({part: '5ae7b24bf36d282906c489f3'})">
        <img src="../assets/exploded-turbo.png">
        <h1>Street Turbo lvl 2</h1>
        <h1>$400</h1>
        <div class="details">
          <h1>View Details</h1>
        </div>
      </ul>
      <ul class="item sale draw" ng-model="turbo3" ui-sref="view({part: '5ae7b257f36d282906c489f5'})">
        <img src="../assets/exploded-turbo.png">
        <h1>Street Turbo lvl 3</h1>
        <h1>$500</h1>
        <div class="details">
          <h1>View Details</h1>
        </div>
      </ul>
    </div>
  </div>

  <div id="aboutsec" class="section">
    <div class="porsche">
      <div class="aboutuscon">
        <div class="aboutus">
          <h1>ABOUT US</h1>
          <p>
            This is a portfolio site, it is made<br> for the purpose of displaying the<br> makers abilities using code. It <br> is based on a Wix template as a<br> refrerence but is built buy the maker</p>
        </div>
      </div>
    </div>
  </div>

  <div id="section6" class="section">
    <form id="sec-6-box1" class="sec-6-box">
      <input id="name" class="name input" type="text" ng-model="name" placeholder="Name *" required></input>
      <input id="email" class="email input" type="email" ng-model="email" placeholder="Email *" required></input>
      <input id="subject" class="subject input" type="text" ng-model="subject" placeholder="Subject"></input>
      <textarea id="message" class="message input" type="text" ng-model="message" placeholder="Message" required></textarea>
      <div id="feedback-send" class="input">
        <button id="send" type="submit" class="send" style="float: left"ng-click="sendMail( { name: name, email: email, subject: subject, message: message } )">SEND</button>
        <h1 id="thanks" class="response">{{thankYou}}</h1>
        <h1 id="thanks" class="response" style="color: red">{{error}}</h1>
      </div>
    </form>
    <div id="sec-6-box2" class="sec-6-box">
      <h1>Feedback</h1>
      <p>
        How do you like my site? Please leave some feedback if you like. It would be much appreciated. Use the fields to the left
        my email or phone number below.<br> Tips, suggestions.
      </p>
      <h2>sbrycebarker@gmail.com</h2>
      <h2>801-358-3800</h2>
    </div>
  </div>

  <div id="section7" class="section">
    <div class="sec-7-con">
      <h1>JOIN OUR MAILING LIST</h1>
      <h2>AND NEVER MISS AN UPDATE</h2>
      <input class="listinput field" type="email" ng-model="list_email" placeholder="{{email_list}}" style="color: white; padding-left: 15px"></input>
      <button id="subscribe" class="listbutton field" type="button" ng-click="addToList({email: list_email})" required>SUSCRIBE NOW</button>
    </div>
  </div>

  <footer>
    <h1>&copy; 2018 by SERGIO BARKER</h1>
    <h1>Shipping & Returns</h1>
    <h1>Terms & Conditions</h1>
  </footer>

</main>
<script type="text/javascript">

</script>
