<title>BP | Profile</title>
<header id="header">
  <!-- <div class="header-overlay"><div class="loader"></div></div> -->
  <div id="homebutton" class="header-items" ng-click="home()"><a ui-sref="home"><h1 class="draw"><span style="color: white">Barker</span><br>Performance</h1></a></div>
  <div id="nav-con" class="header-items">

    <!-- <div id="mobile-login" class="m-login"><a>{{users}}</a></div> -->
    <div id="home" class="nav" ng-click="home()">
      <a ui-sref="home">
        <h1>HOME</h1>
      </a>
    </div>
    <div id="products" class="nav">
      <a ui-sref="products">
        <h1>PRODUCTS</h1>
      </a>
    </div>
    <!-- <div id="life" class="nav">
      <a ui-sref="view">
        <h1>VIEW</h1>
      </a>
    </div> -->
    <div id="about" class="nav" ng-click="about()">
      <a ui-sref="home">
        <h1>ABOUT</h1>
      </a>
    </div>
    <div id="profile" class="nav">
      <a ui-sref="profile({user: user.displayName})">
        <h1>PROFILE</h1>
      </a>
    </div>
  </div>
  <div class="rightbox">
    <div></div>
    <div class="login">
      <h1><a href="/auth"><button type="submit" class="button-primary log">{{username}}</button></a></h1>
      <h1><a href="/auth/logout"><button type="submit" class="button-primary log">Logout</button></a></h1>
    </div>

    <div id="cart-btn" class="header-items" ng-click="cartOpen()">
      <h1>
          <i id="menu" ng-click="menuOpen()" class="fas fa-bars"></i>
          <i id="shop" class="fa fa-shopping-cart" aria-hidden="true"></i>
        </h1>
    </div>
  </div>
</header>
<section id="profile-section" ng-controller="mainCtrl">

<div id="profile-con">

  <div id="profile-info">

    <div id="profile-header">
      <div id="username">
        <h1>{{username}}</h1>
        <h1><img src="{{user.picture}}" alt=""></h1>
        <h1>{{user.emails[0].value}}</h1>
        <!-- <h1>{{}}</h1> -->
      </div>
    </div>

  </div>

</div>

</section>
