<title>BP | {{part.name}}</title>
<div id="sidebar" class="sidebar">
  <div class="menuitem mp">
    <img>
    <a ui-sref="products">
      <h1>PRODUCTS</h1>
    </a>
  </div>
  <div class="menuitem ma">
    <a ui-sref="home">
      <h1>ABOUT</h1>
    </a>
  </div>
  <div class="menuitem ml">
    <a ui-sref="profile({user: user.displayName})">
      <h1>PROFILE</h1>
    </a>
  </div>
  <div class="menuitem mlg">
    <h1><a href="/auth"><button type="submit" class="button-primary log">{{username}}</button></a></h1>
    <h1><a href="/auth/logout"><button type="submit" class="button-primary log">Logout</button></a></h1>
  </div>
  <div class="menuitem mc" ng-click="cartOpen()" style="border-bottom: none">
    <h1>Cart</h1>
  </div>
</div>
<section id="view">

  <div id="view-con">
    <img id="part-img" src="{{part.img}}" class="img">
    <h1 class="part">{{part.name}}</h1>
    <h1 class="part">Part id: {{part.part_id}}</h1>
    <h1 class="part">Price: ${{part.price}}</h1>
    <h1 class="part">{{part.details}}</h1>
  </div>
  <div id="btn-con">
    <button ng-click="addToCart({part_id: part.part_id})">Add to cart</button>
    <button ng-click="addtoWishList({part_id: part.part_id})">Add to wishlist</button>
  </div>

</section>
