<title>BP | {{part.name}}</title>
<div id="sidebar" class="sidebar">
  <div class="menuitem mp">
    <a ui-sref="products">
      <h1>PRODUCTS</h1>
    </a>
  </div>
  <div class="menuitem ma">
    <a ui-sref="home">
      <h1>ABOUT</h1>
    </a>
  </div>
  <div class="menuitem ml">
    <a ui-sref="profile({user: user.displayName})">
      <h1>PROFILE</h1>
    </a>
  </div>
  <div class="menuitem mlg">
    <h1><a href="/auth"><button type="submit" class="button-primary log">{{username}}</button></a></h1>
    <h1><a href="/auth/logout"><button type="submit" class="button-primary log">Logout</button></a></h1>
  </div>
  <div class="menuitem mc" ng-click="cartOpen()" style="border-bottom: none">
    <h1>Cart</h1>
  </div>
</div>

<section id="view">
  <div class="view-wrapper">
    <a ui-sref="products" class="back-link">
      <i class="fa fa-arrow-left"></i> Back to Products
    </a>

    <div class="product-card">
      <div class="product-image-container">
        <img id="part-img" src="{{part.img}}" alt="{{part.name}}">
        <span class="sale-badge" ng-if="part.sale">SALE</span>
        <span class="new-badge" ng-if="part.new">NEW</span>
      </div>

      <div class="product-info">
        <h1 class="product-name">{{part.name}}</h1>
        <p class="product-id">Part #: {{part.part_id}}</p>

        <div class="price-container">
          <span class="price">${{part.price}}</span>
        </div>

        <p class="product-type"><strong>Category:</strong> {{part.type}}</p>

        <div class="product-description">
          <h3>Description</h3>
          <p>{{part.details}}</p>
        </div>

        <div id="btn-con">
          <button ng-if="!isInCart(part)" ng-click="addToCart({part})" class="btn-primary">
            <i class="fa fa-shopping-cart"></i> Add to Cart
          </button>
          <button ng-if="isInCart(part)" ng-click="removeFromCartByPart(part)" class="btn-primary in-cart">
            <i class="fa fa-check"></i> Remove from Cart
          </button>
          <button ng-click="addtoWishList({wishlist: part})" class="btn-secondary">
            <i class="fa fa-heart"></i> Add to Wishlist
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
